body {
   background-color: #c0c86d;
   cursor: url(../Feed-A-Star-Mole-Game/mole-game/cursor.png), default;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0; 
    height: 100vh;
    width: 100vw;
}

.bg {
    background-image: url(../Feed-A-Star-Mole-Game/mole-game/background.png);
    /* background background-repeat: no-repeat; */
    width: 1920px;
    height: 1080px;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0; 
}

ul {
    width: 100%;
}

.snake {
    padding: 5rem;
    margin-left: 4rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    background-image: url(../Feed-A-Star-Mole-Game/mole-game/worm.png);
    background-repeat: no-repeat;
}


.first { 
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
   /* padding: 0; */
    margin-bottom: 1rem; 
    margin-right: 2rem;
    
}

.second {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
}
.third {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;

}

.hole-container {
    margin: 0 auto;
    width: 267px;
    height: 267px;
    background-color: black;
    border-radius: 150px;
    /*background-image: url(../Feed-A-Star-Mole-Game/mole-game/king-mole-hungry.png);
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;


}

#hc1 {
    background-color: transparent;   
    visibility: hidden;
   
}

#hc2 {
    background-color: transparent;   
    visibility: hidden; 
}
